@page
@model presentacion.Pages.OperacionModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Operacion.css" />
</head>

  <h3 class="text-center p-2 mb-2 breadcrumb-item active" id="tituloOperacion"><strong>Operaciones</strong></h3>

  <a asp-page="EditOperacion" class="btn btn-outline-primary" id="btnAdd">
    Agregar Operacion
  </a>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col"class="text-center">N°</th>
      <th scope="col"class="text-center">Codigo</th>
      <th scope="col"class="text-center">Nombre</th>
      <th scope="col"class="text-center">Descripcion</th>
      <th scope="col"class="text-center">Horas</th>
      <th scope="col"class="text-center">Estado</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var operaciones in Model.operacion)
    {
        <tr>
            @if (operaciones.Estado == true)
            {
                <td class="text-center">@operaciones.Id</td>
                <td class="text-center">@operaciones.Codigo</td>
                <td class="text-center">@operaciones.Nombre</td>
                <td class="text-center">@operaciones.Descripcion</td>
                <td class="text-center">@operaciones.Horas</td>
                <td class="text-center"><span class="badge rounded-pill bg-primary">Activo</span></td>
                <td class="text-center">
                  <a class="btn btn-outline-info table-btn"  asp-page="./InfoOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                  <a class="btn btn-outline-primary table-btn" asp-page="./EditOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-user-pen"></i>
                  </a>
                  <a class="btn btn-outline-danger table-btn" asp-page="./DeleteOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-trash-can"></i>
                  </a>
              </td>
            }
            else
            {
                <td class="text-center">@operaciones.Id</td>
                <td class="text-center">@operaciones.Codigo</td>
                <td class="text-center">@operaciones.Nombre</td>
                <td class="text-center">@operaciones.Descripcion</td>
                <td class="text-center">@operaciones.Horas</td>
                <td class="text-center"><span class="badge rounded-pill bg-danger">Inactivo</span></td>
                <td class="text-center">
                  <a class="btn btn-outline-info table-btn"  asp-page="./InfoOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                  <a class="btn btn-outline-primary table-btn" asp-page="./EditOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-user-pen"></i>
                  </a>
                  <a class="btn btn-outline-danger table-btn" asp-page="./DeleteOperacion" asp-route-Idoperacion="@operaciones.Id">
                    <i class="fa-solid fa-trash-can"></i>
                  </a>
              </td>
            } 
        </tr>
    }
 </tbody>
</table>
