@page
@model presentacion.Pages.RevisionModel
@{
}
<head>
  <link rel="stylesheet" href="~/css/Persona.css" />
</head>

<h3 class="text-center p-2 mb-2 breadcrumb-item active" id="tituloPersona"><strong>Revisiones</strong></h3>

<a asp-page="EditRevision" class="btn btn-outline-primary" id="btnAdd">
  Agregar Revision
</a>
<br>
<br>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" class="text-center">N°</th>
      <th scope="col" class="text-center">Fecha</th>
      <th scope="col" class="text-center">Kilometraje</th>
      <th scope="col" class="text-center">Estado del Vehiculo</th>
      <th scope="col" class="text-center">Fecha de Inicio</th>
      <th scope="col" class="text-center">Fecha Final</th>
      <th scope="col" class="text-center">Sintomas</th>
      <th scope="col" class="text-center">Vehiculo</th>
      <th scope="col" class="text-center">Tecnico</th>
      <th scope="col" class="text-center">Estado</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var revisiones in Model.revision)
    {
      <tr>
        @if (revisiones.Estado == "No Iniciado")
        {
            <td class="text-center">@revisiones.RevisionId</td>
            <td class="text-center">@revisiones.Fecha</td>
            <td class="text-center">@revisiones.Kilometraje</td>
            <td class="text-center">@revisiones.Estado_vehiculo</td>
            <td class="text-center">@revisiones.Fecha_inicio</td>
            <td class="text-center">@revisiones.Fecha_fin</td>
            <td class="text-center">@revisiones.Sintomas</td>
            <td class="text-center">@revisiones.vehiculo.Placa</td>
            <td class="text-center">@revisiones.tecnico.PersonaId</td>
            <td class="text-center"><span class="badge rounded-pill bg-danger">No Iniciado</span></td>
            <td class="text-center">
              <a class="btn btn-outline-info table-btn" asp-page="./InfoRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-circle-info"></i>
              </a>
              <a class="btn btn-outline-primary table-btn" asp-page="./EditRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-user-pen"></i>
              </a>
              <a class="btn btn-outline-danger table-btn" asp-page="./DeleteRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          }
      else if(revisiones.Estado == "En Proceso")
          {
            <td class="text-center">@revisiones.RevisionId</td>
            <td class="text-center">@revisiones.Fecha</td>
            <td class="text-center">@revisiones.Kilometraje</td>
            <td class="text-center">@revisiones.Estado_vehiculo</td>
            <td class="text-center">@revisiones.Fecha_inicio</td>
            <td class="text-center">@revisiones.Fecha_fin</td>
            <td class="text-center">@revisiones.Sintomas</td>
            <td class="text-center">@revisiones.vehiculo.Placa</td>
            <td class="text-center">@revisiones.tecnico.PersonaId</td>
            <td class="text-center"><span class="badge rounded-pill bg-primary">En Proceso</span></td>
            <td class="text-center">
              <a class="btn btn-outline-info table-btn" asp-page="./InfoRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-circle-info"></i>
              </a>
              <a class="btn btn-outline-primary table-btn" asp-page="./EditRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-user-pen"></i>
              </a>
              <a class="btn btn-outline-danger table-btn" asp-page="./DeleteRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          }
          else
          {
            <td class="text-center">@revisiones.RevisionId</td>
            <td class="text-center">@revisiones.Fecha</td>
            <td class="text-center">@revisiones.Kilometraje</td>
            <td class="text-center">@revisiones.Estado_vehiculo</td>
            <td class="text-center">@revisiones.Fecha_inicio</td>
            <td class="text-center">@revisiones.Fecha_fin</td>
            <td class="text-center">@revisiones.Sintomas</td>
            <td class="text-center">@revisiones.vehiculo.Placa</td>
            <td class="text-center">@revisiones.tecnico.PersonaId</td>
            <td class="text-center"><span class="badge rounded-pill bg-success">Finalizado</span></td>
            <td class="text-center">
              <a class="btn btn-outline-info table-btn" asp-page="./InfoRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-circle-info"></i>
              </a>
              <a class="btn btn-outline-primary table-btn" asp-page="./EditRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-user-pen"></i>
              </a>
              <a class="btn btn-outline-danger table-btn" asp-page="./DeleteRevision" asp-route-Idrevision="@revisiones.RevisionId">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          }
      </tr>
    }
  </tbody>
</table>