@page
@model presentacion.Pages.RespuestoModel
@{
}

<head>
  <link rel="stylesheet" href="~/css/Persona.css" />
</head>

<h3 class="text-center p-2 mb-2 breadcrumb-item active" id="tituloPersona"><strong>Repuestos</strong></h3>

<a asp-page="EditRespuesto" class="btn btn-outline-primary" id="btnAdd">
  Agregar Respuesto
</a>
<br>
<br>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" class="text-center">N°</th>
      <th scope="col" class="text-center">Referencia</th>
      <th scope="col" class="text-center">Producto</th>
      <th scope="col" class="text-center">Tipo</th>
      <th scope="col" class="text-center">Costo</th>
      <th scope="col" class="text-center">Precio</th>
      <th scope="col" class="text-center">Cantidad</th>
      <th scope="col" class="text-center">Estado</th>
      <th scope="col" class="text-center">Grupo</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var repuestos in Model.repuesto)
    {
      <tr>
        <td class="text-center">@repuestos.RepuestoId</td>
        <td class="text-center">@repuestos.Referencia</td>
        <td class="text-center">@repuestos.Producto</td>
        <td class="text-center">@repuestos.Tipo</td>
        <td class="text-center">@repuestos.Costo</td>
        <td class="text-center">@repuestos.Precio</td>
        <td class="text-center">@repuestos.Cantidad</td>
        <td class="text-center">@repuestos.Estado</td>
        <td class="text-center">@repuestos.Estado</td>
        <td class="text-center">
          <a class="btn btn-outline-info table-btn" asp-page="" asp-route-Idrepuesto="@repuestos.RepuestoId">
            <i class="fa-solid fa-circle-info"></i>
          </a>
          <a class="btn btn-outline-primary table-btn" asp-page="./EditRespuesto" asp-route-Idrepuesto="@repuestos.RepuestoId">
            <i class="fa-solid fa-user-pen"></i>
          </a>
          <a class="btn btn-outline-danger table-btn" asp-page="" asp-route-Idrepuesto="@repuestos.RepuestoId">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>