@page
@model presentacion.Pages.VehiculoModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Persona.css" />
</head>

  <h3 class="text-center p-2 mb-2 breadcrumb-item active" id="tituloPersona"><strong>Vehiculos</strong></h3>

  <a asp-page="AggVehiculo" class="btn btn-outline-primary" id="btnAdd">
    Agregar Vehiculo
  </a>
<br>
<br>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"class="text-center">N°</th>
      <th scope="col" class="text-center">Placa</th>
      <th scope="col" class="text-center">Modelo</th>
      <th scope="col" class="text-center">Servicio</th>
      <th scope="col" class="text-center">Color</th>
      <th scope="col" class="text-center">Estilo</th>
      <th scope="col" class="text-center">Marca</th>
      <th scope="col" class="text-center">Tipo Vehiculo</th>
      <th scope="col" class="text-center">Persona</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var vehiculos in Model.vehiculo)
    {
        <tr>
            <td class="text-center">@vehiculos.VehiculoId</td>
            <td class="text-center">@vehiculos.Placa</td>
            <td class="text-center">@vehiculos.Modelo</td>
            <td class="text-center">@vehiculos.Servicio</td>
            <td class="text-center">@vehiculos.color.Nombre</td>
            <td class="text-center">@vehiculos.estilo.Nombre</td>
            <td class="text-center">@vehiculos.marca.Nombre</td>
            <td class="text-center">@vehiculos.tipoVehiculo.Tipo</td>
            <td class="text-center">@vehiculos.persona.Nombre</td>
            <td class="text-center">
              <a class="btn btn-outline-info table-btn"  asp-page="./InfoVehiculo" asp-route-Idvehiculo="@vehiculos.VehiculoId">
               <i class="fa-solid fa-circle-info"></i>
              </a>
              <a class="btn btn-outline-primary table-btn" asp-page="./AggVehiculo" asp-route-Idvehiculo="@vehiculos.VehiculoId">
               <i class="fa-solid fa-user-pen"></i>
              </a>
              <a class="btn btn-outline-danger table-btn" asp-page="./DeleteVehiculo" asp-route-Idvehiculo="@vehiculos.VehiculoId">
               <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
        </tr>
    }
 </tbody>
</table>