@page
@model presentacion.Pages.PersonaModel 
@{
}
<head>
    <link rel="stylesheet" href="~/css/Persona.css" />
</head>

  <h3 class="text-center p-2 mb-2 breadcrumb-item active" id="tituloPersona"><strong>Personas</strong></h3>

  <a asp-page="Edit" class="btn btn-outline-primary" id="btnAdd">
    Agregar Persona
  </a>
<br>
<br>
<table class="table table-sm" id="myTable">
  <thead>
    <tr>
      <th scope="col"class="text-center">N°</th>
      <th scope="col" class="text-center">Cedula</th>
      <th scope="col" class="text-center">Nombre</th>
      <th scope="col" class="text-center">Apellidos</th>
      <th scope="col" class="text-center">Celular</th>
      <th scope="col" class="text-center">Correo</th>
      <th scope="col" class="text-center">Direccion</th>
      <th scope="col" class="text-center">Clasificacion</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var personas in Model.persona)
    {
        <tr>
            <td class="text-center">@personas.PersonaId</td>
            <td class="text-center">@personas.Cedula</td>
            <td class="text-center">@personas.Nombre</td>
            <td class="text-center">@personas.Apellido</td>
            <td class="text-center">@personas.Celular</td>
            <td class="text-center">@personas.Correo</td>
            <td class="text-center">@personas.Direccion</td>
            <td class="text-center">@personas.Clasificacion</td>
            <td class="text-center">
              <a class="btn btn-outline-info table-btn"  asp-page="./Info" asp-route-Idpersona="@personas.PersonaId">
               <i class="fa-solid fa-circle-info"></i>
              </a>
              <a class="btn btn-outline-primary table-btn" asp-page="./Edit" asp-route-Idpersona="@personas.PersonaId">
               <i class="fa-solid fa-user-pen"></i>
              </a>
              <a class="btn btn-outline-danger table-btn" asp-page="./Delete" asp-route-Idpersona="@personas.PersonaId">
               <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
        </tr>
    }
 </tbody>
</table>



<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  } );
</script>

  